html,body{
    margin: 0;
    height: 100%;
}

body{
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(1.5px);
}

.box{
    border-style: double;
    border-width: 5px;
    border-color: rgb(247, 126, 56);
    border-radius: 3%;
    margin: 100px auto 30px auto;
    text-align: center;
    /* background-color: rgb(236, 236, 204); */
    background-image: url(bg3.jpg);
    background-size: cover;
    width: 45%;
    height:480px;
    box-shadow: 20px 20px 60px rgb(131, 131, 131);   
}

.dp{
    border: 5px solid white;
    box-shadow: 0 0 0 5px rgb(247, 126, 56);
    border-radius: 50%;
    height:14vw;
    width: 14vw;
    position: relative; 
    top: -7vw;
}

.intro{
    position: relative;
    bottom:7vw
}

.info{
    font-size: larger;
    position: relative;
    top: 2.5vw;
    text-align: left;
    margin: 0% 2% 0% 8%;
}

.logo{
    font-size: 1.6em;
    position: relative;
    top: -3vw;
}

a{
    color: black;
}
a:visited{
    color:black
}
a:hover{
    color: rgb(253, 122, 14);
}

.button{
    background-color: rgb(248, 199, 142);
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgb(240, 161, 58);
    margin: 2px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.button:hover{
    background-color: rgb(253, 173, 82);
}

.bts{
    position: relative;
    bottom:1.5vw;
}

#about{
    position: relative;
    top:-11vw;
    text-align: left;
    margin:15px;
    font-size: larger;
    line-height: 1.6;
}
.bts1{
    position: relative;
    bottom:11vw;
}

#AC{
    position: relative;
    top:-10vw;
    margin: 10px 20px 10px 10px;
    text-align: left;
    font-size: larger;
    line-height: 1.6;
}
.bts2{
    position: relative;
    bottom:10vw;
}

#hobby{
    line-height: 1.4;
    margin: 10px 20px 10px 10px;
    position: relative;
    bottom:12vw;
    text-align: left;
    font-size: larger;
}
.bts3{
    position: relative;
    bottom:11vw;
}

.heads{
    margin-bottom: 0px;
    text-decoration: underline rgb(240, 161, 58);
    margin-left: 8px;
}

@media (min-width: 943px) and (max-width: 1200px){
  
   .box{
    width:48%;
    height:440px;
    font-size: 14px;

   }
}
@media (min-width: 709px) and (max-width: 942px){
   
    .box{
        width:55%;
        height:374px;
        font-size: 13px;
       }
    
    .button{
        font-size: 12px;
    }
    .heads{
        font-size: 20px;
    }
    .bts2{
        position: relative;
        bottom: 9vw;
    }
    .bts3{
        position: relative;
        top: -12vw;
    }
    #hobby{
        margin: 8px 16px 8px 8px;
        line-height: 1.3;
    }
}
@media (min-width: 513px) and (max-width: 708px){

    h1{
        font-size: 20px;
    }

    .dp{
        height: 16vw;
        width: 16vw;
    }
   
    .box{
        width:60%;
        height:330px;
        font-size: 11.5px;
       }

    .button{
        font-size: 10px;
    }
    .heads{
        font-size: 15px;
    }

    #hobby{
        margin: 4px 8px 4px 4px;
        line-height: 1.1em;
        position: relative;
        bottom: 11vw;
    }
    #AC{
        margin: 8px 16px 8px 8px;
        position: relative;
        top: -10vw;
        line-height: 1.3em;
    }
    #about{
        margin: 8px 16px 8px 8px;
        position: relative;
        top: -10vw;
        line-height: 1.3em;
    }
    .bts1{
        position:relative;
        bottom: 9vw;
    }


}
@media (min-width: 426px) and (max-width: 512px){

    p{
        font-size: 10px;
    }

    h1{
        font-size: 16px;
    }

    .dp{
        height: 16vw;
        width: 16vw;
    }
   
    .box{
        width:65%;
        height:270px;
        font-size: 10px;
       }
    
    .info{
        position: relative;
        top: 3.5vw
    }
    .logo{
        position: relative;
        top: -1vw
    }
    .bts{
    position: relative;
    top: 0.5vw;
    }
    
    .button{
        font-size: 8px;
    }
    .heads{
        font-size: 15px;
    }

    ul{
        padding: 0px 12px 0px 25px;
    }
    

    .bts1{
        position:relative;
        bottom: 12vw;
    }
    .bts2{
        position: relative;
        bottom: 11vw;
    }
    .bts3{
        position: relative;
        top: -12vw;
    }
    #about{
        margin: 6px 12px 6px 6px;
        position: relative;
        top: -12vw;
        line-height: 1.3em;
    }
    #AC{
        margin: 6px 12px 6px 6px;
        position: relative;
        top: -10vw;
        line-height: 1.3em;
    }
    #hobby{
        margin: 6px 12px 6px 6px;
        line-height: 1.3em;
    }
}

@media (max-width:425px){

    p{
        font-size: 11px;
    }

    h1{
        font-size: 16px;
    }

    .dp{
        height: 18vw;
        width: 18vw;
    }
   
    .box{
        width:80%;
        height:270px;
        font-size: 10px;
       }
    
    .info{
        position: relative;
        top: 3.5vw
    }
    .logo{
        position: relative;
        top: -1vw
    }
    .bts{
    position: relative;
    top: 0.5vw;
    }
    
    .button{
        font-size: 6px;
    }
    .heads{
        font-size: 14px;
    }

    ul{
        padding: 0px 10px 0px 20px;
        line-height: 1em;
    }
    

    .bts1{
        position:relative;
        bottom: 12vw;
    }
    .bts2{
        position: relative;
        bottom: 9vw;
    }
    .bts3{
        position: relative;
        top: -12vw;
    }
    #about{
        margin: 6px 12px 6px 6px;
        position: relative;
        top: -12vw;
        line-height: 1.3em;
        font-size: 11px;
    }
    #AC{
        position: relative;
        top: -9vw;
        line-height: 1.3em;
        font-size: 11px;
    }
    #hobby{
        margin: 6px 12px 6px 6px;
        line-height: 1.3em;
        font-size: 11px;
    }
}